---
layout: default
---
<!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>

<!-- Load the element definition -->
<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>

<!-- Simply set the `src` attribute to your MD file and win -->


<div class="container">
  {% include header.html %}
  {% include head.html %}

      <div class="main">
       {% include career-profile.html %}
       {% include references.html %}
       {% include education.html %}
       {% include experience.html %}
       {% include volunteering.html %}
 <section class="career-profile">
   <h2 class="title">GRANTS AND AWARDS</h2>
   <li>Personal education grant, 2020 IEEE Antennas and Propagation Society C. J. Reddy Grant for Graduate Students</li>
   <li>GU International Postgraduate Research Scholarship, 2018-2022</li>
   <li>GU Postgraduate Research Scholarship,2018-2022</li>
   <li>Personal grant for research project under the scope of the “Program supporting young scientists and their projects, UMNIK-2014”</li>
   <ul>
 </section>
        <zero-md src="README.md"></zero-md>
      
</div>
