<link rel="stylesheet" href="/path/to/folder/css/academicons.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/css/flag-icon.min.css">



   
{% assign profile = site.data.data.profile %}
{% if profile %}
<section class="career-profile">
   <div class="aboutme">
    <h1 style="color:var(--fg-color);font-size:18px;">About Me</h1>
    <p style="color:#002333">A researcher with 7-year experience, recently submitted my PhD project in Biomedical Engineering (degree expected to be awarded within 3 to 5 months). I graduated as an Engineer in 2015 with a Physics major.
                             My previous research includes nondestructive testing and materials quality assurance by means of ultrasonic testing and ultrasonic tomography. 
                             Current research work is focused on electromagnetic fields propagation analysis in order to localise medical implants inside the human body. I have full working rights within Australia.
                             <br> Core competencies: <b>Wireless Body Area Networks; Wearable Technologies; Medical Implants; RF propagation; Optimization Methods; Statistical Analysis; 3D Positioning; Electromagnetic fields modelling </b></p>
   </div>

   <table>
  <tr>
   <!--<th><h1 style="color:var(--fg-color);">Main Skills</h1></th>-->
   <th><h2 class="title">SKILLS</h2></th>
   <th> <h2 class="title">LANGUAGES</h2></th>
   </tr>
   <tr>
      <td>
          {% for detail in profile.items %}
            <li class="detail">
                {{detail}}
            </li>
            {%endfor%}
      </td>
      <td>
       {% include languages.html %}
       </td>
   </tr>
  </table>
     
 <table>
    <tr>
     <th><p style="color:var(--fg-color);">You can find my publication details through the links below:</p></th>
    </tr>
    <tr>
  </table> 
   
        <button><i class="ai ai-google-scholar-square ai-2x" style="padding-left:15px;"></i><a href="https://scholar.google.com.au/citations?user=uEniMtkAAAAJ&hl=en&oi=ao"><span aria-hidden="true"><span style="color:#002333;font-size:18px;"> Google Scholar </span></a></button>
        <button><i class="ai ai-scopus-square ai-2x" style="padding-left:15px;"></i><a href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId=56433608400&zone="><span style="color:#002333;font-size:18px;"> Scopus Profile </span></a></button>
        <button><i class="ai ai-researchgate-square ai-2x" style="padding-left:15px;"></i><a href="https://researchgate.net/profile/Yana-Salchak-2"><span aria-hidden="true"><span style="color:#002333;font-size:18px;"> ResearchGate </span></a></button>
 
<p style="color:var(--fg-color);font-size:18px;font-weight: bold;">MEMBERSHIPS</p>
 <li>Institute of Electrical and Electronics Engineers (IEEE) Student Membership</li>
 <li>IEEE Antennas and Propagation Society Membership</li>

</section>
{% endif %}
       
          

      

