<link rel="stylesheet" href="/path/to/folder/css/academicons.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


   
{% assign profile = site.data.data.profile %}
{% if profile %}
<section class="career-profile">
    <h2 class="title">About Me</h2>
    <div class="details">{{profile}}</div>
     <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam molestias facilis ullam dolorum, reprehenderit dolorem accusantium sit quo 
                        dolore nostrum assumenda obcaecati animi commodi nobis labore exercitationem corporis esse eveniet optio laudantium molestiae maiores pariatur nisi cumque. 
                        Distinctio et, totam, dicta autem nostrum doloribus ipsam vel rerum, molestiae soluta laboriosam. <br>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iusto porro suscipit. 
                        Nihil blanditiis cum voluptates odio recusandae deleniti, nulla repudiandae aliquam adipisci iusto reiciendis sequi labore quos ratione accusamus consectetur, 
                        libero ex assumenda pariatur commodi animi nobis, dolore id.
                    </p>
                </section>   

 

   <td>
     <i class="ai ai-google-scholar-square ai-2x" style="padding-left:25px;"></i><a href="https://scholar.google.com.au/citations?user=uEniMtkAAAAJ&hl=en&oi=ao"><span aria-hidden="true"><span style="color:#002333;">Google Scholar </span></a>
     <i class="ai ai-scopus-square ai-2x" style="padding-left:25px;"></i><a href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId=56433608400&zone="><span style="color:#002333;">Scopus Profile </span></a>
     <i class="ai ai-researchgate-square ai-2x" style="padding-left:25px;"></i><a href="https://researchgate.net/profile/Yana-Salchak-2"><span aria-hidden="true"><span style="color:#002333;">ResearchGate </span></a>

  </td>


</section>
{% endif %}

      

