<link rel="stylesheet" href="/path/to/folder/css/academicons.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


   
{% assign profile = site.data.data.profile %}
{% if profile %}
<section class="career-profile">
    <h2 class="title">Career Profile</h2>
    <div class="details">{{profile}}</div>
    <ul>
    <li> <a href="https://scholar.google.com.au/citations?user=uEniMtkAAAAJ&hl=en&oi=ao">Google Scholar</span><i class="ai ai-google-scholar-square ai-3x"></i></a></li>
    <li> <a href="https://twitter.com/abirsaha_" title="Twitter" class="no-mark-external" target="_blank"> <span class="icon-twitter"></span> <span aria-hidden="true">Twitter </span><span class="sr-only">Abir Saha's Twitter profile</span></a></li>
    <li> <a href="https://www.linkedin.com/in/abirsaha-" title="LinkedIn" class="no-mark-external" target="_blank"> <span class="icon-linkedin2"></span> <span aria-hidden="true">LinkedIn </span><span class="sr-only">Abir Saha's LinkedIn profile</span></a></li>
    <li> <a href="https://instagram.com/abiroutdoors" title="Instagram" class="no-mark-external" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  </ul>



</section>
{% endif %}
