{% assign contact = site.data.data.contact %}
{% if contact %}


<section class="contact">
   <div class="title">Contact details</div>
     {% if contact.email %}
        <div class="contact-item">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="#">
                {{contact.email}}
            </a>
        </div>
     {% endif %}

     {% if contact.phone %}
        <div class="contact-item">
            <i class="fa fa-phone"></i>
            <a href="#">
                {{contact.phone}}
            </a>
        </div>
    {% endif %}

    {% if contact.github %}
        <div class="contact-item">
            <i data-feather="github"></i>
            <a href="https://github.com/{{contact.github}}">
                {{contact.github}}
            </a>
        </div>
    {% endif %}

    {% if contact.linkedin %}
        <div class="contact-item">
            <i data-feather="linkedin"></i>
            <a href="https://linkedin.com/in/{{contact.linkedin}}">
                {{contact.linkedin}}
            </a>
        </div>
    {% endif %}


  
 </section>
{% endif %}


