{% assign education = site.data.data.education %}
{% if education %}
<section class="education">
    <div class="title">Education</div>
    {% for degree in education.degrees %}
    {% assign location = degree.location %}
        <div class="education-item">
            <div class="item-header">
            <div class="degree">
                {{degree.degree}}
            </div>  
            <div class="time">{{degree.time}}
                </div>
           </div>
          {%- if degree.title and site.show_degree_title -%}
          <div class="degree_title">
                  {{degree.title}}
           </div>
          {%-endif-%}
          <div class="location">
            {{location.name}}
            {%- if location.city -%}
            {{location.city | prepend: ", "}}
            {%- endif -%}
            {%- if location.province -%}
            {{location.province | prepend: ", "}}
            {%- endif -%}
            {%- if location.country -%}
            {{location.country | prepend: ", "}}
            {%- endif -%}
          </div>
    {% endfor %}
</section>
{% endif %}
