{% assign education = site.data.data.education %}
{% if education %}
<section class="education">
    <div class="title">Education</div>
    {% for degree in education %}
    {% assign location = degree.location %}
        <div class="education-item">
            <div class="item-header">
            <div class="degree">{{degree.degree}}>
            </div>  
            <div class="university">{{ed.university}}
                </div> 
            <div class="time">{{degree.time}}
                </div>
        <div class="location">
            {{location.name}}
            {%- if location.city -%}
            {{location.city | prepend: ", "}}
            {%- endif -%}
            {%- if location.province -%}
            {{location.province | prepend: ", "}}
            {%- endif -%}
            {%- if location.country -%}
            {{location.country | prepend: ", "}}
            {%- endif -%}
        </div>        
        </div>
    {% endfor %}
</section>
{% endif %}
