{% assign languages = site.data.data.languages %}
{% if languages %}
<section class="languages">
    <!-- <div class="title">Languages</div> -->
    <div class="idioms">
        <table>
            <tr>
         {% for idiom in languages.idioms %}
        <div>
            <span class="flag-icon flag-icon-{{idiom.code}}"></span><br>
            <span class="idiom">
                {{idiom.name}} {{idiom.level | prepend: "(" | append: ")"}}
            </span>
         </div>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>
{% endif %}
