.career-profile {
    .title {
        @include header;
    }
    .details {
        @include body-text;
    }    
    color: #002333;
    a {
   text-decoration: none !important;
   margin-right: 20px;
}
}
