.career-profile {
    .title {
        @include header;
    }
    .aboutme{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .details {
        @include body-text;
        margin-bottom: 0px;
    }    
    color: #002333;
    a {
   text-decoration: none !important;
   margin-right: 20px;
}
}
