.education {
    .title {
        @include header;
    }
    .education-item {
        margin-bottom: 12px;


        > * {
            margin-bottom: 3px;
        }

        .item-header {
            display: grid;
            grid-auto-columns: 30px;
            


            
        }
        .degree {
            @include sub-header;
            font-weight: bold;
            grid-row: 1;
            grid-column: 1;
        }
        .location {
            @include body-text;
            margin-bottom: 30px;
            color: var(--fg-color-dark);

        }
        .time {
            @include body-text;
            grid-row: 1;
            grid-column: 2;
            text-align: end;
            font-weight: bold;
            grid-gap: 30px 10px;
            
        }
        
        .degree_title {
            @include body-text;
            font-style: italic;

        }
    }
}
