.education {
   .title {
        @include header;
    }
    
    .education-item {
        padding-left: 80px;
        margin-bottom: 12px;

        > * {
            margin-bottom: 3px;
        }

        .item-header {
            display: grid;
            padding-left: 80px;



            
        }
        .degree {
            @include sub-header;
            font-weight: bold;
            grid-row: 1;
            grid-column: 1;

        }
        .location {
            @include body-text;
            margin-bottom: 30px;
            color: #002333;
            padding-left: 80px;


        }
        .time {
            @include body-text;
            grid-row: 1;
            grid-column: 2;
            text-align: end;
            font-weight: bold;
            color: var(--fg-color-dark);
                        
        }
        
        .degree_title {
            @include body-text;
            font-style: italic;
            padding-left: 80px;
            
        }
    }
}
