.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        color: var(--fg-color-dark);
        font-weight: bolder;
        text-transform: uppercase;
    }
    input[type="checkbox"] {
        width: 0;
        height:0;
        display: none;
    }
    label {
        cursor: pointer;
        color: var(--fg-color-dark);
        
    }
    .logo {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    }
    .image{
    width: 250px;
    height: 300px;
    overflow: hidden;
    text-align: left;
    }
    .profile img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 5px solid #002333;
    
    }

    .name{
    font-size: 2rem;
    color: #2D9CDB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
    }

    .main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  #002333;
    padding-top: 0rem;
    }

    .contact-info ul{
    padding-top: 0.2rem;
    }

    .contact-info ul li{
    padding: .3rem 0;
    display: flex;
    align-items: right;
    color:  var(--fg-color-body);
    }
    .contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color:  #002333;
    }
}
