.languages {
    margin-bottom: 20px;
    .title {
        @include sub-header;
    }
    .idiom {
        @include body-text;
    }
    
    
    .idioms {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
